@import url("https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i");
@import url('https://fonts.googleapis.com/css?family=Coda');
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:600i');

/*font-family: 'Coda', cursive;*/
/*font-family: 'Mali', cursive;*/
/*font-family: "Product Sans", sans-serif;*/
/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/

/*color index*/


body {
    padding: 0;
    margin: 0;
}

.header-container {
    padding: 4px;
    text-align: center;
    font-family: "Product Sans", sans-serif;
    background-color: #087f23;
}

.title {
    margin: 0;

}

.sub-title {
    margin: 0;
    text-align: center;
}

.intro {
    margin: 0 10px;
    text-align: center;
}

.input-container {

    font-family: 'Mali', cursive;
    background-color: #E1E2E1;

    transition: color .4s ease;
    color: rgba(0, 0, 0, 1);
}

.equation {
    margin: 5px 10px;
    font-family: 'Crimson Text', serif;
    font-size: x-large;
    text-align: center;

}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Mali', cursive;
    font-size: x-large;

}

.input-inner {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    background-color: #4caf50;
    font-family: 'Mali', cursive;
    font-size: x-large;
    text-align: center;
}

.input-param {
    text-align: right;
    font-size: large;
}
.input-param-points {
    font-size: large;
}

.input-equation{
    margin: 0;
}

.input-two-points{
    margin: 0;
}

/* Style the tab */
.input-tab {
    overflow: hidden;
    background-color: #087f23;
    width: 100%;
}

/* Style the buttons that are used to open the tab content */
.input-tab button {
    background-color: inherit;
    font-family: 'Mali', cursive;
    font-size: x-large;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.3s;
    color:black;
    width: 50%;
    float: left;
}

/* Change background color of buttons on hover */
.input-tab button:hover {
    color: white;
}

/* Create an active/current tablink class */
.input-tab button.active {
    color: white;
    background-color: #4caf50;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}


.line-list p {
    margin: 0;
}

.line-list div{
    margin-right: 4px;
    display: inline-block;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.footer {

    font-size: 14px;
    color: #999;
    text-align: center;

}